/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #007bff37;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.full-bg {
  background-color: #007bff;
  height: 170px; 
  border-radius: 0 0 20px 20px; 
  box-sizing: border-box;
  margin-inline-start: -20px;
  margin-inline-end: -20px;
  margin-bottom: -95px; 
  margin-top: -35px;
  padding: 20px 0 0 25px;
}

.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 23px;
  margin-bottom: 0;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.breadcrumb {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #dcdcdc;
  font-weight: 400;
}

.breadcrumb .active {
  color: #fff;
  font-weight: 500;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 999;
  background: #0059ff;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 26px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #0059ffc1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
.dropdown-menu {
  border-radius: 10px;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.248);
}
  
.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 30px;
}
  
.dropdown-menu .dropdown-footer a {
  color: #464646;
  text-decoration: underline;
}
  
.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}
  
.dropdown-menu .dropdown-divider {
  color: #fff;
  margin: 0;
}
  
.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}
  
.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}
  
.dropdown-menu .dropdown-item:hover {
  background-color: #fff;
}
  
@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}
  
@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
  
  0% {
    opacity: 0;
  }
}
  
/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
}
  
.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #007bff;
  font-family: "Poppins", sans-serif;
}
  
.card-title span {
  color: #464646;
  font-size: 14px;
  font-weight: 400;
}
  
.card-body {
  padding: 0 20px 20px 20px;
}
  
.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}
  
/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
  
/* Close Button */
.btn-close {
  background-size: 25%;
}
  
.btn-close:focus {
  outline: 0;
  box-shadow: none;
}
  
/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}
  
.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}
  
.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}
  
.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}
  
.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}
  
.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}
  
/* Bordered Tabs */
/* .nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}
  
.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #4e2c2c;
}
  
.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}
  
.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #f14141;
  border-bottom: 2px solid #4154f1;
} */

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.logo span {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  font-family: "inter", sans-serif;
  margin-left: 15px;
  margin-top: 1px;
}
  
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  background-color: #007bff;
  padding-left: 20px;
  position: fixed;
}
  
.header .toggle-sidebar-btn {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
}
  
.header .toggle-sidebar-btn:hover {
  color: #fff700; 
}
  
.header .toggle-sidebar-btn:active {
  transform: scale(0.95);
}
  
.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}
  
@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }
  
  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}
  
.header .search-form {
  width: 100%;
}
  
.header .search-form input {
  border: 0;
  font-size: 15px;
  color: #464646;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 6px 38px 6px 8px;
  padding-inline-start: 20px;
  border-radius: 50px;
  transition: 0.3s;
  margin-left: 60px;
  width: 80%;
}
  
.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}
  
.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -35px;
  background: none;
}
  
.header .search-form button i {
  color: #464646;
  font-size: 17.5px;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}
  
.header-nav>ul {
  margin: 0;
  padding: 0;
}
  
.header-nav .nav-icon {
  font-size: 27px;
  color: #ffffff;
  margin-right: 20px;
  margin-top: 5px;
  position: relative;
}
  
.header-nav .nav-profile {
  color: #ffffff;
  font-size: 33px;
  margin-right: 8px;
  margin-top: -0.5px;
}
  
.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  padding: 3px 6px;
  color: #ffffff;
}
  
.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}
  
.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}
  
.header-nav .messages {
  font-family: "Poppins", sans-serif;
  inset: 8px -15px auto auto !important;
}
  
.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}
  
.header-nav .messages .message-item a {
  display: flex;
}
  
.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #007bff;
}
  
.header-nav .messages .message-item p {
  font-size: 14px;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3px;
  line-height: 20px;
  width: 100%;
  color: #464646;
}
  
.header-nav .messages .message-item:hover {
  background-color: #007bff37;
}
  
.header-nav .profile {
  min-width: 270px;
  padding-bottom: 0;
  top: 8px !important;
}
  
.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: -5px;
  color: #007bff;;
}
  
.header-nav .profile .dropdown-item {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  transition: 0.3s;
  color: #464646;
}
  
.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 21px;
  line-height: 0;
  color: #464646;
}

.header-nav .profile .dropdown-item:hover i {
  color: #007bff;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #007bff37;
  color: #007bff;
}
  
.header-nav .profile .dropdown-item.active i {
  color: #007bff;
}
  
.header-nav .profile .dropdown-item.active {
  background-color: #007bff37; 
  color: #007bff; 
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.nav-logo img {
  max-width: 55%;
  height: auto;
  margin-left: 50px; 
  padding: 20px 10px 10px 10px; 
  margin-bottom: 10px;
}

.nav-name {
  text-align: center; 
  border-bottom: 3px solid #007bff;
}

.nav-name h1 {
  font-family: "Poppins", sans-serif;
  font-size: 18px; 
  font-weight: 700; 
  color: #007bff;
  margin-bottom: 15px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 999;
  transition: all 0.3s;
  /* padding: 20px 10px 10px 10px;  */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #007bff transparent;
  background-color: #ffffff;
}
  
@media (max-width: 1199px) {
  .sidebar {
    left: -250px;
  }
}
  
@media (min-width: 1200px) {
  #main,
  #footer,
  .header .toggle-sidebar-btn {
    margin-left: 250px;
  }
}
  
@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}
  
@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer,
  .toggle-sidebar .header .toggle-sidebar-btn {
    margin-left: 0;
  }
  
  .toggle-sidebar .sidebar {
    left: -250px;
  }
}
  
.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
  
.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
  
.sidebar-nav .nav-item {
  padding: 10px 8px 8px 8px; 
  margin-bottom: -11px;
}
  
.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #007bff;
  transition: 0.3;
  background: #007bff37;
  padding: 15px 15px;
  border-radius: 10px;
}
  
.sidebar-nav .nav-link i {
  font-size: 19px;
  margin-right: 15px;
  margin-left: 5px;
  color: #007bff;
}
  
.sidebar-nav .nav-link.collapsed {
  color: #464646;
  background: #fff;
}
  
.sidebar-nav .nav-link.collapsed i {
  color: #464646;
}
  
.sidebar-nav .nav-link:hover {
  color: #007bff;
  background: #007bff37;
}
  
.sidebar-nav .nav-link:hover i {
  color: #007bff;
}
  
.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}
  
.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}
  
.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
  margin-bottom: -7px;
}
  
.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #464646;
  transition: 0.3;
  padding: 12px 0 12px 40px;
  margin-left: 10px;
  transition: 0.3s;
  margin-bottom: 7px;
  margin-top: 2px;
}
  
.sidebar-nav .nav-content a i {
  font-size: 9px;
  margin-right: 8px;
  line-height: 1px;
  border-radius: 50%;
}
  
.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #007bff;
  background: #007bff37;
  padding-left: 30px;
  border-radius: 10px;
}
  
.sidebar-nav .nav-content a.active i {
  background-color: #007bff;
}

/*--------------------------------------------------------------
# Pages Dashboard
--------------------------------------------------------------*/
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}
  
.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}
  
.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}
  
.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}
  
.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}
  
.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}
  
/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
}
  
.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
  
.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}
  
.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}
  
.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}
  
.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}
  
/* Activity */
.dashboard .activity {
  font-size: 14px;
}
  
.dashboard .activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}
  
.dashboard .activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}
  
.dashboard .activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}
  
.dashboard .activity .activity-item .activity-content {
  padding-left: 10px;
  padding-bottom: 20px;
}
  
.dashboard .activity .activity-item:first-child .activite-label::before {
  top: 5px;
}
  
.dashboard .activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

/*--------------------------------------------------------------
# Pages Ajuan
--------------------------------------------------------------*/
.ajuan .card-body {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 220px;
}

.ajuan .form-select {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1.8px solid #007bff;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.ajuan .mb-3:last-of-type {
  display: flex;
  justify-content: center;
}

.ajuan .table {
  margin-top: 10px;
}

.ajuan .table th,
.ajuan .table td {
  padding: 10px 15px;
  border: 2px solid #007bff;
  text-align: left;
}

.ajuan .table thead th {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
  text-transform: uppercase;
}

.ajuan .table tbody td {
  font-size: 15px;
  font-weight: 500;
  color: #464646;
  font-family: "Inter", sans-serif;
}

/*--------------------------------------------------------------
# Pages Jadwal
--------------------------------------------------------------*/
/* ------------------------------------ 
======= Section Lihat Jadwal ======= 
------------------------------------ */
.jadwal .card-body {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 220px;
}

.jadwal .form-select {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1.8px solid #007bff;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.jadwal .mb-3:last-of-type {
  display: flex;
  justify-content: center;
}

.jadwal .btn {
  padding: 10px 30px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.jadwal .btn-success {
  background-color: #28a745;
  margin-right: 20px;
}

.jadwal .btn-success:hover {
  background-color: #218838;
}

.jadwal .btn-danger {
  background-color: #db3747;
}

.jadwal .btn-danger:hover {
  background-color: #ba2130;
}

.jadwal .col {
  text-align: right;
}

.jadwal .table {
  margin-top: 10px;
}

.jadwal .table th,
.jadwal .table td {
  padding: 10px 15px;
  border: 2px solid #007bff;
  text-align: left;
}

.jadwal .table thead th {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
}

.jadwal .table tbody td {
  font-size: 15px;
  font-weight: 500;
  color: #464646;
  font-family: "Inter", sans-serif;
}

/* ------------------------------------ 
======= Section Input Jadwal ======= 
------------------------------------ */
.input-jadwal .card-body {
  background-color: #fff;
  padding: 20px 25px 25px 25px;
  border-radius: 10px;
  margin-bottom: 140px;
}

.input-jadwal .form-label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #464646;
}

.input-jadwal .form-control {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1.8px solid #007bff;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.input-jadwal .form-select {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1.8px solid #007bff;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.input-jadwal .mb-3-3:last-of-type {
  display: flex;
  justify-content: center;
}

.input-jadwal .btn-primary {
  width: 100%;
  background-color: #007bff;
  border: 1.8px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
}

.input-jadwal .btn-primary:hover {
  background-color: #0065d0;
  border: 1.8px solid #0065d0;
}

/*--------------------------------------------------------------
# Pages Master
--------------------------------------------------------------*/
/* ------------------------------------ 
======= Section Master Prodi ======= 
------------------------------------ */
.master-prodi .card-body {
  background-color: #fff;
  padding: 20px 25px 25px 25px;
  border-radius: 10px;
}

.master-prodi .form-label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #464646;
}

.master-prodi .form-control {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1.8px solid #007bff;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.master-prodi .password-wrapper {
  position: relative;
}

.master-prodi .password-wrapper input {
  padding-right: 2rem; 
}

.master-prodi .password-wrapper i {
  position: absolute;
  top: 48%;
  right: 15px; 
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
  font-size: 25px;
}

.master-prodi .mb-3:last-of-type {
  display: flex;
  justify-content: center;
}

.master-prodi .btn-primary {
  width: 100%;
  background-color: #007bff;
  border: 1.8px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
}

.master-prodi .btn-primary:hover {
  background-color: #0065d0;
  border: 1.8px solid #0065d0;
}

.master-prodi .card-nav {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.master-prodi .page-item.active .page-link {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #007bff;
  border: 1.8px solid #007bff;
  color: #fff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: -5px;
}

.master-prodi .page-link {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #fff;
  border: 1.8px solid #007bff;
  color: #007bff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: -5px;
}

.master-prodi .page-link:hover {
  background-color: #007bff37;
}

.master-prodi .pagination .page-item + .page-item {
  margin-left: 20px;
}

/* ------------------------------------ 
======= Section Master MKP ======= 
------------------------------------ */
.master-mkp .card-body {
  background-color: #fff;
  padding: 20px 25px 25px 25px;
  border-radius: 10px;
}

.master-mkp .form-label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #464646;
}

.master-mkp .form-select {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1.8px solid #007bff;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.master-mkp .form-control {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1.8px solid #007bff;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.master-mkp .mb-3:last-of-type {
  display: flex;
  justify-content: center;
}

.master-mkp .btn-primary {
  width: 100%;
  background-color: #007bff;
  border: 1.8px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
}

.master-mkp .btn-primary:hover {
  background-color: #0065d0;
  border: 1.8px solid #0065d0;
}

.master-mkp .card-nav {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.master-mkp .page-item.active .page-link {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #007bff;
  border: 1.8px solid #007bff;
  color: #fff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: -5px;
}

.master-mkp .page-link {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #fff;
  border: 1.8px solid #007bff;
  color: #007bff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: -5px;
}

.master-mkp .page-link:hover {
  background-color: #007bff37;
}

.master-mkp .pagination .page-item + .page-item {
  margin-left: 20px;
}

/* ------------------------------------ 
======= Section Master Waktu ======= 
------------------------------------ */
.master-waktu .card-body {
  background-color: #fff;
  padding: 20px 25px 25px 25px;
  border-radius: 10px;
}

.master-waktu .form-label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #464646;
}

.master-waktu .form-select {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1.8px solid #007bff;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.master-waktu .mb-3:last-of-type {
  display: flex;
  justify-content: center;
}

.master-waktu .btn-primary {
  width: 100%;
  background-color: #007bff;
  border: 1.8px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
}

.master-waktu .btn-primary:hover {
  background-color: #0065d0;
  border: 1.8px solid #0065d0;
}

.master-waktu .card-nav {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.master-waktu .page-item.active .page-link {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #007bff;
  border: 1.8px solid #007bff;
  color: #fff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: -5px;
}

.master-waktu .page-link {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #fff;
  border: 1.8px solid #007bff;
  color: #007bff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: -5px;
}

.master-waktu .page-link:hover {
  background-color: #007bff37;
}

.master-waktu .pagination .page-item + .page-item {
  margin-left: 20px;
}

/* ------------------------------------ 
======= Section Master Kelas ======= 
------------------------------------ */
.master-kelas .card-body {
  background-color: #fff;
  padding: 20px 25px 25px 25px;
  border-radius: 10px;
}

.master-kelas .form-label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #464646;
}

.master-kelas .form-control {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1.8px solid #007bff;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.master-kelas .form-select {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1.8px solid #007bff;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.master-kelas .mb-3:last-of-type {
  display: flex;
  justify-content: center;
}

.master-kelas .btn-primary {
  width: 100%;
  background-color: #007bff;
  border: 1.8px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
}

.master-kelas .btn-primary:hover {
  background-color: #0065d0;
  border: 1.8px solid #0065d0;
}

.master-kelas .card-nav {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.master-kelas .page-item.active .page-link {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #007bff;
  border: 1.8px solid #007bff;
  color: #fff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: -5px;
}

.master-kelas .page-link {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #fff;
  border: 1.8px solid #007bff;
  color: #007bff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: -5px;
}

.master-kelas .page-link:hover {
  background-color: #007bff37;
}

.master-kelas .pagination .page-item + .page-item {
  margin-left: 20px;
}

/*--------------------------------------------------------------
# Pages Account Settings
--------------------------------------------------------------*/
.account-settings {
  margin-bottom: 140px;
}

.account-settings .card-body {
  background-color: #fff;
  padding: 20px 25px 25px 25px;
  border-radius: 10px;
  margin-bottom: 140px;
}

.account-settings .form-label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #464646;
}

.account-settings .form-control {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1.8px solid #007bff;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.account-settings .password-wrapper {
  position: relative;
}

.account-settings .password-wrapper input {
  padding-right: 2rem; 
}

.account-settings .password-wrapper i {
  position: absolute;
  top: 48%;
  right: 15px; 
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
  font-size: 25px;
}

.account-settings .mb-3:last-of-type {
  display: flex;
  justify-content: center;
}

.account-settings .btn-primary {
  width: 100%;
  background-color: #007bff;
  border: 1.8px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
}

.account-settings .btn-primary:hover {
  background-color: #0065d0;
  border: 1.8px solid #0065d0;
}

/*--------------------------------------------------------------
# Section Footer
--------------------------------------------------------------*/
.footer {
  padding: 17px 0;
  font-size: 13px;
  background: #007bff;
}
  
.footer .copyright {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
  
.footer .credits {
  padding-top: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #ffffff;
}
  
.footer .credits a {
  color: #fff700;
  font-size: 15px;
  font-weight: 500;
}