body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
  overflow: hidden; 
  background-image: url("../img/bg-unpam.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 10px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.248);
  background-color: #fdfbf3;
}

.card-body {
  padding: 20px;
}

.logo {
  margin-top: -25px;
  max-width: 100px; 
  max-height: 100px; 
  width: auto; 
  height: auto; 
  margin-bottom: -30px;
}

.card-title {
  font-family: "Poppins", sans-serif; 
  font-size: 30px; 
  font-weight: 700; 
  color: #464646; 
  display: inline-block; 
  position: relative;
  margin-bottom: 30px;
}

.card-title::after {
  content: '';
  position: absolute;
  bottom: -5px; 
  width: 60%; 
  border-bottom: 3.5px solid #e1ac5c; 
  left: 50%; 
  transform: translateX(-50%); 
}

.input-group {
  position: relative;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #e1ac5c;
  border-radius: 7px;
  font-size: 17px;
}

.input-group input:focus {
  outline: none;
  border-color: #e1ac5c;
  box-shadow: 0 0 0 0.2rem #e1ac5c68 ;
}

.form-check {
  margin-top: -10px;
  margin-bottom: 7px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #464646;
}

.form-check-input {
  margin-right: 5px;
  margin-top: 3px;
  border: 2px solid #e1ac5c;
  padding-left: 10px;
  padding-top: 10px;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem #e1ac5c68;
  background-color: #e1ac5c;
  border: 2px solid #e1ac5c;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #e1ac5c;
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.btn-primary:hover {
  background-color: #ad803d;
}

.credits {
  margin-top: 20px;
  text-align: center;
  color: #1c1c1c;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.credits a {
  color: #fdfbf3;
  font-weight: 500;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.credits a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .card {
      margin: 0 5px;
  }

  .container {
      max-width: 400px;
      margin: auto;
      padding: 10px;
  }
}
