/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f2e9dd;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.full-bg {
  background-color: #e1ac5c;
  height: 170px;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  margin-inline-start: -20px;
  margin-inline-end: -20px;
  margin-bottom: -95px;
  margin-top: -30px;
  padding: 20px 0 0 25px;
}

.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.breadcrumb {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.3px;
}

.breadcrumb .active {
  color: #fff;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 999;
  background: #e1ac5c;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 26px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ad803d;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
.dropdown-menu {
  border-radius: 10px;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.248);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 30px;
}

.dropdown-menu .dropdown-footer a {
  color: #464646;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #fff;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #fff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #007bff;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #464646;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.logo span {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  font-family: "inter", sans-serif;
  margin-left: 15px;
  margin-top: 1px;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  background-color: #e1ac5c;
  padding-left: 20px;
  position: fixed;
}

.header .toggle-sidebar-btn {
  font-size: 28px;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
}

.header .toggle-sidebar-btn:hover {
  color: #222222;
}

.header .toggle-sidebar-btn:active {
  transform: scale(0.95);
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  border: 0;
  font-size: 15px;
  color: #464646;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 6px 38px 6px 8px;
  padding-inline-start: 20px;
  border-radius: 50px;
  transition: 0.3s;
  margin-left: 60px;
  width: 80%;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -35px;
  background: none;
}

.header .search-form button i {
  color: #464646;
  font-size: 17.5px;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav > ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 26px;
  color: #fff;
  margin-right: 20px;
  margin-top: 5px;
  position: relative;
}

.header-nav .nav-profile {
  color: #fff;
  font-size: 32px;
  margin-right: 8px;
  margin-top: -0.5px;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  font-size: 11.5px;
  padding: 3px 6px;
  color: #fff;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages {
  font-family: "Poppins", sans-serif;
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #464646;
}

.header-nav .messages .message-item p {
  font-size: 14px;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3px;
  line-height: 20px;
  width: 100%;
  color: #5e5e5e;
}

.header-nav .messages .message-item:hover {
  background-color: #e1ac5c;
}

.header-nav .profile {
  min-width: 270px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: -5px;
  color: #e1ac5c;
}

.header-nav .profile .dropdown-item {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  transition: 0.3s;
  color: #464646;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  margin-left: 15px;
  font-size: 21px;
  line-height: 0;
  color: #464646;
}

.header-nav .profile .dropdown-item:hover i {
  color: #fff;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #e1ac5c;
  color: #fff;
}

.header-nav .profile .dropdown-item.active i {
  color: #fff;
}

.header-nav .profile .dropdown-item.active {
  background-color: #e1ac5c;
  color: #fff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.nav-logo img {
  max-width: 55%;
  height: auto;
  margin-left: 55px;
  padding: 20px 10px 10px 10px;
  margin-bottom: 10px;
}

.nav-name {
  text-align: center;
  border-bottom: 3px solid #e1ac5c;
}

.nav-name h1 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #464646;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 999;
  transition: all 0.3s;
  /* padding: 20px 10px 10px 10px;  */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #e1ac5c transparent;
  background-color: #fdfbf3;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -250px;
  }
}

@media (min-width: 1200px) {
  #main,
  #footer,
  .header .toggle-sidebar-btn {
    margin-left: 250px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer,
  .toggle-sidebar .header .toggle-sidebar-btn {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -250px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  padding: 10px 8px 8px 8px;
  margin-bottom: -11px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: 0.3;
  background: #e1ac5c;
  padding: 15px 15px;
  border-radius: 10px;
}

.sidebar-nav .nav-link i {
  font-size: 19px;
  margin-right: 15px;
  margin-left: 5px;
  color: #fff;
}

.sidebar-nav .nav-link.collapsed {
  color: #464646;
  background: #fdfbf3;
}

.sidebar-nav .nav-link.collapsed i {
  color: #464646;
}

.sidebar-nav .nav-link:hover {
  color: #fff;
  background: #e1ac5c;
}

.sidebar-nav .nav-link:hover i {
  color: #fff;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #464646;
  transition: 0.3;
  padding: 12px 0 12px 40px;
  margin-left: 10px;
  transition: 0.3s;
  margin-bottom: 5px;
}

.sidebar-nav .nav-content a i {
  font-size: 9px;
  margin-right: 8px;
  line-height: 1px;
  border-radius: 50%;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
.dashboard {
  height: 100vh;
}

.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

.dashboard .info-card {
  padding-bottom: 10px;
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

.dashboard .activity {
  font-size: 14px;
}

.dashboard .activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}

/*--------------------------------------------------------------
# Ajuan
--------------------------------------------------------------*/
.ajuan {
  height: 100vh;
}

.ajuan .card-body {
  background-color: #fdfbf3;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 260px;
}

.ajuan .mb-3:last-of-type {
  display: flex;
  justify-content: center;
}

.ajuan .btn-ajuan {
  padding: 10px 30px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
}

.ajuan .btn-ajuan:hover {
  background-color: #218838;
}

.ajuan .table {
  margin-top: 10px;
}

.ajuan .table th,
.ajuan .table td {
  padding: 10px 15px;
  border: 2px solid #e1ac5c;
  text-align: left;
}

.ajuan .table thead th {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #e1ac5c;
  text-transform: uppercase;
}

.ajuan .table tbody td {
  font-size: 15px;
  font-weight: 500;
  color: #464646;
  font-family: "Inter", sans-serif;
}

/*--------------------------------------------------------------
# Form Ajuan Baru
--------------------------------------------------------------*/
.ajuan-baru {
  height: 100vh;
}

.ajuan-baru .card-body {
  background-color: #fdfbf3;
  padding: 20px 25px 25px 25px;
  border-radius: 10px;
  margin-bottom: 140px;
}

.ajuan-baru .form-label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #464646;
}

.ajuan-baru .form-control {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #e1ac5c;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.ajuan-baru .form-select {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #e1ac5c;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.ajuan-baru .form-select:focus,
.ajuan-baru .form-control:focus {
  box-shadow: 0 0 0 0.2rem #e1ac5c68;
}

.ajuan-baru .mb-3-3:last-of-type {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.ajuan-baru .btn-primary {
  width: 100%;
  background-color: #e1ac5c;
  border: 2px solid #e1ac5c;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.ajuan-baru .btn-primary:hover {
  background-color: #ad803d;
  border: 2px solid #ad803d;
}

/*--------------------------------------------------------------
# Jadwal
--------------------------------------------------------------*/
.jadwal {
  height: 100vh;
}

.jadwal .card-body {
  background-color: #fdfbf3;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 150px;
}

.jadwal .form-select {
    appearance: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #e1ac5c;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.jadwal .form-select:focus {
  box-shadow: 0 0 0 0.2rem #e1ac5c68;
}

.jadwal .form-select option {
    background-color: #fdfbf3;
}

.jadwal .mb-3:last-of-type {
  display: flex;
  justify-content: center;
}

.jadwal .btn {
  padding: 10px 30px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.jadwal .btn-success {
  background-color: #28a745;
  margin-right: 20px;
}

.jadwal .btn-success:hover {
  background-color: #218838;
}

.jadwal .btn-danger {
  background-color: #db3747;
}

.jadwal .btn-danger:hover {
  background-color: #ba2130;
}

.jadwal .col {
  text-align: right;
}

.jadwal .table {
  margin-top: 10px;
}

.jadwal .table th,
.jadwal .table td {
  padding: 10px 15px;
  border: 2px solid #e1ac5c;
  text-align: left;
}

.jadwal .table thead th {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #e1ac5c;
  text-transform: uppercase;
}

.jadwal .table tbody td {
  font-size: 15px;
  font-weight: 500;
  color: #464646;
  font-family: "Inter", sans-serif;
}

/*--------------------------------------------------------------
# Account Settings
--------------------------------------------------------------*/
.account-settings {
  height: 100vh;
}

.account-settings .card-body {
  background-color: #fdfbf3;
  padding: 20px 25px 25px 25px;
  border-radius: 10px;
  margin-bottom: 140px;
}

.account-settings .form-label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #464646;
}

.account-settings .form-control {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #e1ac5c;
  color: #464646;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.account-settings .form-control:focus {
  box-shadow: 0 0 0 0.2rem #e1ac5c68;
}

.account-settings .password-wrapper {
  position: relative;
}

.account-settings .password-wrapper input {
  padding-right: 2rem;
}

.account-settings .password-wrapper i {
  position: absolute;
  top: 48%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #e1ac5c;
  font-size: 25px;
}

.account-settings .mb-3:last-of-type {
  display: flex;
  justify-content: center;
}

.account-settings .btn-primary {
  width: 100%;
  background-color: #e1ac5c;
  border: 2px solid #e1ac5c;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
}

.account-settings .btn-primary:hover {
  background-color: #ad803d;
  border: 2px solid #ad803d;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 13px;
  background: #e1ac5c;
}

.footer .copyright {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.footer .credits {
  padding-top: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
}

.footer .credits a {
  color: #1c1c1c;
  font-size: 16.5px;
  font-weight: 600;
}
